{% extends "StockProductos/index.html" %}

{% block contenido %}
<div class = "m-3">
    <h1 class="display-3">Acerca de mi</h1>
    <p class="lead">Soy Tomas Oteizza, tengo 19 años y estoy estudiando tecnicatura en programacion, en este momento estoy cursadno el segundo año. En el año 2020 descubri la programacion y encontre una vocacion por el desarrollo web, crear un sitio web desde la nada misma hasta una pagina funcional me parece fascinante. En este año espero poder profesionalizarme mas como desarrollador fullstack con el objetivo de ser un desarrollador freelancer y vender sitios web o paginas a mis futuros clientes </p>
</div>
{% endblock contenido %}